* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    width: 500px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 8px;
}

.subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 25px;
}

.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task-input input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.task-input button {
    padding: 12px 18px;
    border: none;
    border-radius: 6px;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

.task-input button:hover {
    background: #1d4ed8;
}

#taskList {
    list-style: none;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f8f8;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.delete-btn {
    border: none;
    background: #dc2626;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#taskCount {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
.dark-mode {
    background: #111827;
    color: white;
}

.dark-mode .container {
    background: #1f2937;
}

.dark-mode .task {
    background: #374151;
}